<!DOCTYPE html>
<html>
<head>
	<title>Next Step</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<script> 
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-102181592-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
  
</head>
<body>
<div >
	<img  src="/images/logo.png">
</div>
<div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uhghehlVGo0" frameborder="0" allowfullscreen></iframe>
</div>

<div>
	<ul>
  		<li>Utilize o poder da nossa plataforma cognitiva para obter indicações de skills com um grau de acerto de 99.9%.</li>
  		<li>Compartilhe as suas conquistas e emerja como um novo profissional</li>
  		<li>Saiba quais as HOT Skills da sua área.</li>
  		<li>Saiba onde investir o seu tempo e energia com base em seus objetivos de carreira.</li>
		<li>Seja reconhecido por seus objetivos alcançados e compartilhe-os.</li>
	</ul>
</div>

<button type="button" id="button" style="display: block;"onclick="MostrarForm('form', 'button')">Quero ser beta!</button>

<div id="form" style="display: none;">
<form action="Script_do_Formulario.php" method="post">

<!-- DADOS PESSOAIS-->
<fieldset>
 <legend>Dados Pessoais</legend>
 <table cellspacing="10">
  <tr>
   <td>
    <label for="nome">Nome: </label>
   </td>
   <td align="left">
    <input type="text" name="email">
   </td>
   <td>
    <label for="sobrenome">Sobrenome: </label>
   </td>
   <td align="left">
    <input type="text" name="sobrenome">
   </td>
  </tr>
  <tr>
   <td>
    <label>Nascimento: </label>
   </td>
   <td align="left">
    <input type="text" name="dia" size="2" maxlength="2" value="dd"> 
   <input type="text" name="mes" size="2" maxlength="2" value="mm"> 
   <input type="text" name="ano" size="4" maxlength="4" value="aaaa">
   </td>
  </tr>
 </table>
</fieldset>

<br />

<!-- DADOS DE LOGIN -->
<fieldset>
 <legend>Dados de login</legend>
 <table cellspacing="10">
  <tr>
   <td>
    <label for="email">E-mail: </label>
   </td>
   <td align="left">
    <input type="text" name="email">
   </td>
  </tr>
  <tr>
   <td>
    <label for="login">Login de usuário: </label>
   </td>
   <td align="left">
    <input type="text" name="login">
   </td>
  </tr>
  <tr>
   <td>
    <label for="pass">Senha: </label>
   </td>
   <td align="left">
    <input type="password" name="pass">
   </td>
  </tr>
  <tr>
   <td>
    <label for="passconfirm">Confirme a senha: </label>
   </td>
   <td align="left">
    <input type="password" name="passconfirm">
   </td>
  </tr>
 </table>
</fieldset>
<br />
<input type="button"  value="Ok" onclick="submitForm()" >
<input type="reset" value="Limpar">
</form>

</div>

<script>
function MostrarForm(el1, el2) {
        var display1 = document.getElementById(el1).style.display;
        var display2 = document.getElementById(el2).style.display;
        if(display1 == "none")
        	document.getElementById(el1).style.display = 'block';
        if(display2 == "block")
            document.getElementById(el2).style.display = 'none';
        
        ga('send','event' , 'beta-button-click');
    
 }
 
function submitForm() {
    ga('send', 'event' ,'submit-button-click');

}
</script>

</body>
</html>
 