<!DOCTYPE html>
<html>
<head>
	<title>Favorites Organizer powered by Cloudant</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/style/style.css" />
</head>
<body>
	<h1>Next Step!</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/uhghehlVGo0" frameborder="0" allowfullscreen></iframe>
<form>
  Nome:
  <input type="text" name="nome">
  <br>
  Fone:
  <input type="text" name="fone">
  <br>
  Email:
  <input type="text" name="email">
  <br>
  Usuário:
  <input type="text" name="usuario">
  <br>
  Senha:
  <input type="passsword" name="senha">
  <br>
  <input type="checkbox" name="aceito" value="aceito" unchecked> Li e concordo com a politica de privacidade
  <br>
  <input type="submit" value="OK">
</form>

<ul>
  <li>Utilize o poder da nossa plataforma cognitiva para obter indicações de skills com um grau de acerto de 99.9%.</li>
  <li>Compartilhe as suas conquistas e emerja como um novo profissional</li>
  <li>Saiba quais as HOT Skills da sua área.</li>
  <li>Saiba onde investir o seu tempo e energia com base em seus objetivos de carreira.</li>
  <li>Seja reconhecido por seus objetivos alcançados e compartilhe-os.</li>
</ul>

</body>
</html>
 