<!DOCTYPE html>
<html lang="en">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102024537-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-102024537-1');
</script>


    
	<title>Next Step</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="style/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Next Step</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio" onclick="ga('send', 'event', 'button', 'click', 'saibaMais');">Benefícios</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Quero ser Beta!</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="images/logo.png" alt="" style="max-height:180px">
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills"><iframe style="min-height:120px; height:320px; width:100%;" src="http://www.powtoon.com/embed/c8HySkfTED5" frameborder="0" allowfullscreen></iframe></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Benefícios</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <ul style="font-size:21px">
  		<li>Utilize o poder da nossa plataforma cognitiva para obter indicações de skills com um grau de acerto de 99.9%.</li>
  		<li>Compartilhe as suas conquistas e emerja como um novo profissional</li>
  		<li>Saiba quais as HOT Skills da sua área.</li>
  		<li>Saiba onde investir o seu tempo e energia com base em seus objetivos de carreira.</li>
		<li>Seja reconhecido por seus objetivos alcançados e compartilhe-os.</li>
	</ul>
            </div>
                
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Quero ser Beta!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <p  style="font-size:21px; text-align: center;">Cadastre-se pelo formulário ou com suas redes sociais</p>
                <div class="col-lg-4 col-lg-offset-2">
                    <form action="Script_do_Formulario.php" method="post">

<!-- DADOS PESSOAIS-->
<fieldset style="font-size:21px>
 <table cellspacing="10">
  <tr>
   <td>
    <label for="nome">Nome: </label>
   </td>
   <td align="left">
    <input type="text" name="nome">
   </td>
  </tr>
  <tr><br /><br/><br/></tr>
  
  <tr>
   <td>
    <label for="email">E-mail: </label>
   </td>
   <td align="left">
    <input type="text" name="email">
   </td>
  </tr>
 </table>
</fieldset>
<br />
<input type="submit" class="btn btn-success btn-lg">
</form>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                <button type="button" class="btn btn-success btn-lg" style="width:120px; background-color:#ea4335; border-color:#ea4335;" onclick="ga('send', 'event', 'button', 'click', 'saibaMais');">Google</button>
                <br/><br/><br/>
                <button type="button" class="btn btn-success btn-lg" style="width:120px; background-color:#3b5998; border-color:#3b5998;">Facebook</button>
                </div>
            </div>
        </div>
    </section>
<script>
function MostrarForm(el1, el2) {
        var display1 = document.getElementById(el1).style.display;
        var display2 = document.getElementById(el2).style.display;
        if(display1 == "none")
        	document.getElementById(el1).style.display = 'block';
        if(display2 == "block")
            document.getElementById(el2).style.display = 'none';
        
        ga('send','event' , 'beta-button-click');
    
 }
 
function submitForm() {
    ga('send', 'event' ,'submit-button-click');
}
</script>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Next Step 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="scripts/jqBootstrapValidation.js"></script>
    <script src="scripts/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="scripts/freelancer.min.js"></script>
</body>
</html>